<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
    <h2>welcome <%= getUser.username %></h2>
    <form action="/update" method="post">
        <input type="text" name="email" id="email" placeholder="email">
        <input type="text" name="oldpassword" id="password" placeholder="password"> 
        <input type="text" name="newpassword" id="password" placeholder="password">
        <button>update password</button>
    </form>
</body>
</html>