<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>set food</h1>
    <div class="form">
      <form action="/add-food" method="post">
        <input type="text" name="title" id="title" placeholder="title" />
        <input
          type="text"
          name="description"
          id="description"
          placeholder="descriptio "
        />
        <label for="image">set food picture</label>
        <input type="file" name="image" id="image" />

        <select name="category" id="category">
          <option value="fastfood">Fast Food</option>
          <option value="traditional">Traditional</option>
          <option value="italian">Italian</option>
        </select>

        <button>create user</button>
      </form>
    </div>
  </body>
</html>
